*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:Arial, Helvetica, sans-serif;
    background:#f4f6f8;
    color:#333;
}

header{
    background:#232F3E;
    color:white;
    text-align:center;
    padding:40px;
}

header h1{
    margin-bottom:10px;
}

.hero{
    text-align:center;
    padding:50px 20px;
}

.services{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
    gap:20px;
    width:90%;
    margin:auto;
    padding-bottom:50px;
}

.card{
    background:white;
    padding:25px;
    border-radius:10px;
    box-shadow:0 4px 10px rgba(0,0,0,0.1);
}

.card h3{
    color:#232F3E;
    margin-bottom:15px;
}

.card ul{
    padding-left:20px;
}

.card li{
    margin-bottom:10px;
}

footer{
    background:#232F3E;
    color:white;
    text-align:center;
    padding:20px;
}